@import url('standard.css');
@import url('root_mediascreen.css');
@import url('style.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-family: var(--font-pag);
    background: var(--cor-pag);
    color: #fff;
}